[Unit]
Description=POPO rssh service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=centos
ExecStart=/usr/bin/env bash /usr/local/bin/popo-rssh.bash

[Install]
WantedBy=multi-user.target
